footer {
  color: #fff;
}
footer > div {
  height: 2.61333rem;
}
footer > div.active {
  color: #02b875;
}
footer > div.active b {
  display: block;
}
footer > div.active i {
  display: none;
}

.footer-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
}
.footer-icon i {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-icon b {
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-icon .remind {
  position: absolute;
  top: -0.13333rem;
  right: -0.26667rem;
  box-sizing: content-box;
  padding: 0.21333rem;
  background: #d60a0a;
  border-radius: 1000rem;
  color: #fff;
  font-size: 0.53333rem;
}
.footer-icon .remind-max {
  position: absolute;
  top: 0;
  right: -0.4rem;
  top: -0.13333rem;
  box-sizing: content-box;
  padding: 0.10667rem;
  background: #d60a0a;
  border-radius: 1000rem;
  color: #fff;
  width: 0.64rem;
  height: 0.64rem;
  font-size: 0.53333rem;
  text-align: center;
  overflow: hidden;
  line-height: 0.64rem;
}

.footer-icon01 i {
  background-image: url(../images/footer-icon01.png);
}
.footer-icon01 b {
  background-image: url(../images/footer-icon01-h.png);
}

.footer-icon02 i {
  background-image: url(../images/footer-icon02.png);
}
.footer-icon02 b {
  background-image: url(../images/footer-icon02-h.png);
}

.footer-icon03 i {
  background-image: url(../images/footer-icon03.png);
}
.footer-icon03 b {
  background-image: url(../images/footer-icon03-h.png);
}

.footer-icon04 i {
  background-image: url(../images/footer-icon04.png);
}
.footer-icon04 b {
  background-image: url(../images/footer-icon04-h.png);
}

.footer-icon05 i {
  background-image: url(../images/footer-icon05.png);
}
.footer-icon05 b {
  background-image: url(../images/footer-icon05-h.png);
}
